[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
asn1crypto = "==0.24.0"
attrs = "==18.2.0"
autopep8 = "==1.4.3"
backcall = "==0.1.0"
beautifulsoup4 = "==4.7.1"
bleach = "==3.0.2"
bs4 = "==0.0.1"
certifi = "==2018.11.29"
cffi = "==1.12.1"
chardet = "==3.0.4"
colorama = "==0.4.1"
constantly = "==15.1.0"
cryptography = "==3.2"
cssselect = "==1.0.3"
decorator = "==4.3.0"
defusedxml = "==0.5.0"
entrypoints = "==0.2.3"
flake8 = "==3.6.0"
hyperlink = "==18.0.0"
idna = "==2.8"
incremental = "==17.5.0"
ipykernel = "==5.1.0"
ipython = "==7.2.0"
ipywidgets = "==7.4.2"
jedi = "==0.13.1"
jsonschema = "==2.6.0"
jupyter = "==1.0.0"
jupyter-client = "==5.2.3"
jupyter-core = "==4.4.0"
kiwisolver = "==1.0.1"
matplotlib = "==3.0.2"
mccabe = "==0.6.1"
mistune = "==0.8.4"
mysql-connector-python = "==8.0.13"
nbconvert = "==5.4.0"
nbformat = "==4.4.0"
notebook = "==5.7.2"
numpy = "==1.15.4"
pandas = "==0.24.0"
pandocfilters = "==1.4.2"
parso = "==0.3.1"
pickleshare = "==0.7.5"
pycodestyle = "==2.4.0"
pycparser = "==2.19"
pyflakes = "==2.0.0"
pyparsing = "==2.3.1"
python-dateutil = "==2.7.5"
pytz = "==2018.9"
pywinpty = "==0.5.4"
pyzmq = "==17.1.2"
qtconsole = "==4.4.3"
queuelib = "==1.5.0"
requests = "==2.21.0"
sas7bdat = "==2.2.2"
scipy = "==1.2.0"
six = "==1.11.0"
soupsieve = "==1.7.3"
terminado = "==0.8.1"
testpath = "==0.4.2"
tornado = "==5.1.1"
traitlets = "==4.3.2"
urllib3 = "==1.24.1"
w3lib = "==1.20.0"
wcwidth = "==0.1.7"
webencodings = "==0.5.1"
widgetsnbextension = "==3.4.2"
xlrd = "==1.2.0"
Automat = "==0.7.0"
Cycler = "==0.10.0"
ipython_genutils = "==0.2.0"
Jinja2 = "==2.10"
jupyter_console = "==6.0.0"
MarkupSafe = "==1.1.0"
prometheus_client = "==0.5.0"
prompt_toolkit = "==2.0.7"
PyDispatcher = "==2.0.5"
Pygments = "==2.3.0"
PyHamcrest = "==1.9.0"
pyOpenSSL = "==19.0.0"
Send2Trash = "==1.5.0"
SQLAlchemy = "==1.2.17"
"zope.interface" = "==4.6.0"
tweepy = "*"

[requires]
python_version = "3.7"
